<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberHub by Razvan</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .custom-font {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/LOGO1.png') }}" alt="Logo" style="height: 40px; margin-right: 10px;">
            CYBERHUB BY RAZVAN
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Autentificare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Înregistrare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('despre') }}">Despre noi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="jumbotron custom-font">
            <h1 class="display-4">Bun venit pe CyberHub by Razvan</h1>
            <p class="lead">Acesta este portalul despre securitate creat de Petrosanu Florentin-Razvan.</p>
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/CYBERSECURITY2.GIF') }}" alt="Cybersecurity GIF" class="img-fluid">
            </div>
            <hr class="my-4">
            <p>Pentru a avea acces la ultimele informații despre securitatea cibernetică și alte lucruri legate de IT, vă rugăm să vă autentificați.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Autentificare</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Înregistrare</a>
        </div>
    </div>
</body>
</html>